body {
    font-family: Arial;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background: #f2f2f2;
}

.light-gray {
    background-color: #e6e6e6;
}

.light-green {
    background-color: #b2f5b2;
}
